<h1>Auth#index</h1>
<%= link_to 'Signin with Google', user_google_omniauth_authorize_path %>

<%= current_user.inspect %>
<% if current_user %>
---
ニックネーム: <%= current_user.get_nickname %>
---
---
<%= link_to 'ニックネーム変更はこちら', edit_user_path(:user, id: current_user.id) %>
---
<% end %>