<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @zen.content %>
</p>

<% if current_user.id == @zen.user_id %>
<%= link_to 'Edit', edit_zen_path(@zen) %> |
<% end %>
<%= link_to 'Back', zens_path %>
