<p id="notice"><%= notice %></p>

<p>
  <strong>一善の内容</strong>
  <%= @zen.content %>
</p>

<% if current_user.id == @zen.user_id %>
<%= link_to '編集する', edit_zen_path(@zen) %> |
<% end %>
<%= link_to '一覧へ戻る', zens_path %>
