    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   app_url %></li>
            <li>
              <% if logged_in? %>
                <%= link_to "ユーザー情報", auth_index_path %>
              <% else %>
                <%= link_to "新規登録 / ログイン", auth_index_path %>
              <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </header>